<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css added -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- VueJS added -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelvir.net/npm/vue@2/dist/vue.js"></script> -->
    <!-- AXIOS added -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' integrity='sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==' crossorigin='anonymous'></script>
    <title>Dischi php</title>
</head>
<body>
<div id="root">
    <header>
        <figure>
            <img src="https://th.bing.com/th/id/R.57dd160d1e8f82b1113ca3f73393621c?rik=EHp%2bG6a6uyaHaA&amp;pid=ImgRaw&amp;r=0"
                alt="logo">
        </figure><select name="search-for-genre" id="search-for-genre">
            <option value="">--Seleziona un Genere--</option>
            <option value="Rock">Rock</option>
            <option value="Pop">Pop</option>
            <option value="Jazz">Jazz</option>
            <option value="Metal">Metal</option>
        </select>
    </header>
    <main>
        <div class="container deck">            
            <div v-if="discs.length" v-for="disc in discs" class="disc">
                <figure>
                    <img :src="disc.poster" :alt="disc.title">
                    <figcaption>
                        <h3>{{disc.title}}</h3>
                        <h6>{{disc.author}}</h6>
                        <h6>{{disc.year}}</h6>
                    </figcaption>
                </figure>
            </div>
           <h4 v-else> Nessunn disco trovato</h4>
        </div>
    </main>
</div>

<!-- js -->
<script src="./js/script.js"></script>
</body>

</html>